<div id="<%= dom_id detalhes_venda %>">
  <p>
    <strong>Venda:</strong>
    <%= detalhes_venda.venda_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= detalhes_venda.produto_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= detalhes_venda.quantidade %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= detalhes_venda.subtotal %>
  </p>

</div>
