<p style="color: green"><%= notice %></p>

<%= render @detalhes_venda %>

<div>
  <%= link_to "Edit this detalhes venda", edit_detalhes_venda_path(@detalhes_venda) %> |
  <%= link_to "Back to detalhes vendas", detalhes_vendas_path %>

  <%= button_to "Destroy this detalhes venda", @detalhes_venda, method: :delete %>
</div>
